<div class="w-full mx-auto border-gray-300  rounded-2xl shadow-md ">
  <div class="p-1">
    <div class="flex justify-between items-start mb-2">
      <div class="flex-1 flex items-center">
        <h2 class="text-xl font-semibold text-gray-800" id="loanTitle">
          {{client().title}}
          <span class="inline-flex items-center px-3 py-1 mt-2 text-sm rounded-full"
                [ngClass]="getStatusClass()">{{ 'active' }}
          </span>
        </h2>
        <button (click)="editClient()"
                class="ml-2 p-1 text-gray-500 hover:text-blue-500 transition duration-300 ease-in-out">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="relative">
      <div class="flex flex-row w-full gap-4 items-center overflow-x-auto pb-1">
        @for (loan of client().loans; track loan.id) {
          <button class="flex-shrink-0" (click)="viewLoanDetails(loan)">
            <div [ngClass]="{
              'border-red-500': loan.status === 'overdue',
              'border-green-500': loan.status !== 'overdue'
            }" class="bg-gray-50 font-bold border-l-4 p-1 rounded-lg">
              <p class="text-lg text-gray-600">
                {{ loan.amount | currency }}
              </p>
              <p class="text-lg font-semibold text-gray-900">{{ loan.dateTime | date :"dd MMM" }}</p>
              <div class="relative pt-1">
                <div class="overflow-hidden h-2 mb-1 text-xs flex rounded bg-blue-200">
                  <div [style.width.%]="loan.progressPercentage"
                       class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500 transition-all duration-500"></div>
                </div>
              </div>
            </div>
          </button>
        }
      </div>
      <app-create-loan
      [name]="client().name??''"
      [title]="client().title??''"
      [borrowerClientId]="client().id??''"
      >
        <button
                class="absolute right-0 top-1/2 -translate-y-1/2 p-2 bg-white rounded-full shadow-md text-blue-500 hover:text-blue-600 transition duration-300 ease-in-out"
                aria-label="Add new loan">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
        </button>
      </app-create-loan>

    </div>
  </div>
</div>

