<!--<app-create-loan [clientId]="'a'" [clientName]="'ware'"></app-create-loan>-->
<!--<app-edit-client [clientData]="clientData" [availableTags]="['San Pedro','Cascaparo','Wanchack','Vinocanchon']"></app-edit-client>-->
<!--<app-loan-detail [loanDetails]="selectedLoan"></app-loan-detail>-->
<!--<app-dynamic-form-->
<!--  [fields]="fields"-->
<!--  [value]="value"-->
<!--  [isModal]="true"-->
<!--&gt;</app-dynamic-form>-->
<!--<app-create-loan-->
<!--  [name]="'warren'"-->
<!--&gt;</app-create-loan>-->

<app-login></app-login>
